/*Styles*/

#board{
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 75px;
    height: 75px;
    border: 1px solid #000;
    background-color: rgba(212, 250,76);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s, transform 0.8s;
}

.box-clicked{
    background-color: #ccc;
    color: #ccc;
    transform: scale(0.8);
}

.box.error{ color: darkred; background: indianred;}
.box.success{ color: darkgreen; background: darkseagreen;}
.box.notice{ color: darkblue; background: lightskyblue;}

@keyframes appear{
    from{
        transform: scale(0) rotate(180deg);
    }
    to {
        transform: scale(1) rotate(0deg);
    }
}

